<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8">
    <title>Tőzsdei Dashboard</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <h1>Ticker-ek:</h1>

    <div class="range-slider-container">
        <div class="range-slider-display">
            <span id="range-start-label"></span>&nbsp; → &nbsp;<span id="range-end-label"></span>
            <span id="range-diff-label"></span>
        </div>
        <div class="range-slider-wrapper">
            <div class="slider-track-base"></div>
            <div class="slider-track-highlight"></div>
            <input type="range" id="range-start" class="range-slider">
            <input type="range" id="range-end" class="range-slider">
        </div>
    </div>

    <div class="options-container">
        {% for ticker in tickers %}
        <a class="chart-option" info="{{tickers[ticker]['description']}}->{{tickers[ticker]['why']}}"
            onclick="showChart('/chart?ticker={{ticker}}', this)">
            {{ticker}}
        </a>
        {% endfor %}
    </div>

    <p id="chart-description"></p>

    <div class="chart-container">
        <img id="chart-image" src="" alt="A kiválasztott grafikon itt fog megjelenni." style="display: none;">
        <div id="loading-spinner" class="spinner" style="display: none;"></div>
    </div>

    <div id="report-button-container" style="display: none; margin-top: 20px;">
        <a id="view-report-button" class="chart-option" href="#" target="_blank">
            Részletes Riport
        </a>
    </div>

    <div id="history-section">
        <h2 id="history-title"></h2>
        <table id="history-table">
            <thead>
                <tr>
                    <th>Dátum</th>
                    <th>Ajánlás</th>
                    <th>Bizalom</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div id="indicator-table-container"></div>

    <script src="/static/dashboard.js"></script>
</body>

</html>